li {
  font-family: "Courier New", Courier, monospace;
}

/* Tipos de selecctores */

/* Selector de tipo */
p {
}
/* Selector de clases */
.descripcion {
}
/* selecctor de ID */
#identificador {
}

/* Por que usar clases */
.verde {
  background-color: green;
}

.azul {
  background-color: blue;
}

.centro {
  text-align: center;
}

.rojo {
  background-color: red;
}

.negro {
  background-color: black;
  color: white;
}

.caja {
  width: 70px;
  height: 70px;
  border-color: rgb(255, 0, 230);
  border-width: 1px;
  border-style: solid;
  border: solid 1px orange;
  border-radius: 8px;
  margin: 10px 50px 5px 18px;
  padding: 15px;
}

.prueba {
  /* dimesiones */
  width: 50%;
  max-width: 500px;
  min-width: 70px;
  /* height: 100vh;
  min-height: 400px;
  max-height: 500px; */
  /* Desbordamiento */
  overflow-x: scroll;
  overflow-y: hidden;
}

.prueba p {
  font-size: 22px;
}