.rojo { color: red; }
.verde { color: green; }
.azul { color: blue; }

.pequeño { font-size: 12px; }
.mediano { font-size: 18px; }
.grande { font-size: 28px; }

.fondo-amarillo { background-color: yellow; }
.fondo-celeste { background-color: lightblue; }

.resaltar {
  color: white;
  background-color: darkorange;
}

.activo { border: 2px solid limegreen; }

.violeta { color: violet; }
.naranja { color: orange; }
.turquesa { color: turquoise; }

.tamaño-pequeño { font-size: 14px; }
.tamaño-medio { font-size: 20px; }
.tamaño-grande { font-size: 30px; }

.cuadro {
  width: 200px;
  height: 100px;
  background-color: gray;
  color: black;
}

.movible {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: relative;
}
